{{ define "main" }}
  {{ partial "page-header" . }}

  <section class="{{ partial "tw" "section" }}">
    <div class="{{ partial "tw" "container" }}">
      <ul class="{{ partial "tw" "text-center" }}">
        {{ range .RegularPages }}
          <li class="{{ partial "tw" "m-3" }}">
            <a
              href="{{ .Permalink }}"
              class="{{ partial "tw" "text-text-dark block text-xl" }} dark:text-darkmode-text-dark">
              {{ .Title }}
            </a>
          </li>
        {{ end }}
      </ul>
    </div>
  </section>
{{ end }}
